<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQL8Dialect
        </property>

        <property name = "hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->

        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost/test2?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC
        </property>

        <property name = "hibernate.connection.username">
            root
        </property>

        <property name = "hibernate.connection.password">
            root
        </property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">false</property>

        <!--<mapping class="com.edutilos.model.SimpleWorker" />-->
        <!--<mapping package="com.edutilos.model" />-->
        <mapping class="com.codenotfound.crnk.domain.model.HibernateStudent" />
        <mapping class="com.codenotfound.crnk.domain.model.HibernateUniversity" />
        <mapping class="com.codenotfound.crnk.domain.model.HibernateWorker" />
        <mapping class="com.codenotfound.crnk.domain.model.ChartistChartDataBarChart" />
        <mapping class="com.codenotfound.crnk.domain.model.ChartistChartDataPieChart" />
        <mapping class="com.codenotfound.crnk.domain.model.ChartistChartDataLineChart" />
        <mapping class="com.codenotfound.crnk.domain.model.TmpWorker" />
        <mapping class="com.codenotfound.crnk.domain.model.TmpAddress" />
        <mapping class="com.codenotfound.crnk.domain.model.TmpPerson" />
        <mapping class="com.codenotfound.crnk.domain.model.GenericChartData" />
        <mapping class="com.codenotfound.crnk.domain.model.GenericSerie" />
        <mapping class="com.codenotfound.crnk.domain.model.GenericOption" />
        <mapping class="com.codenotfound.crnk.domain.model.SimpleWorker" />
        <!-- List of XML mapping files -->
        <!--<mapping resource = "Employee.hbm.xml"/>-->

    </session-factory>
</hibernate-configuration>